<h1 class="text-4xl font-bold text-center">Agents</h1>

<div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4 w-full">
  <div *ngFor="let agent of agents" class="p-4 rounded-lg  ">
    <div class="grid place-items-center font-mono">
      <div class="rounded-md shadow-lg">
        <div class="md:flex px-4 leading-none max-w-4xl">
          <div class="flex-none">
            <img [src]="agent.image" alt="{{ agent.name }}"
              class="h-72 rounded-md " />
          </div>
          <div class="flex-col text-gray-300">
            <p class="pt-4 text-2xl font-bold">{{ agent.name }}</p>
            <hr class="hr-text" data-content="">
            <div class="text-md flex justify-between px-4 my-2">
              <span class="font-bold">{{ agent.role }}</span>
              <span class="font-bold"></span>
            </div>
            <p class="hidden md:block px-4 my-4 text-sm text-left">{{ agent.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4 w-full">
  <div *ngFor="let agent of agents" class="p-4 rounded-lg card">
    <img [src]="agent.image" alt="{{ agent.name }}" class="h-96 mx-auto rounded-full">
    <div class="gradient-overlay"></div>
    <div class="card-content">
      <div class="role">{{ agent.role }}</div>
      <div class="name">{{ agent.name }}</div>
      <p class="mt-2 text-gray-300">{{ agent.description }}</p>
      <button class="primary">discover more</button>
    </div>
  </div>
</div> -->