<app-navbar />
<div class="relative   h-screen text-white overflow-hidden">
  <div class="absolute inset-0">
    <img src="assets/map-bg.jpg" alt="Background Image" class="object-cover object-center w-full h-full" />
    <div class="absolute inset-0 opacity-50" style="background-image: linear-gradient(to bottom, #0000, #000);"></div>
  </div>

  <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
    <h1 class="text-5xl font-bold leading-tight mb-4">Master the Maps</h1>
    <p class="text-lg text-gray-300 mb-8">From Ascent to Corrode, prepare for every battlefield</p>
  </div>
</div>


<section id="maps" class="bg-black py-12 px-6" style="background-color: #1c1b22;">
  <h1 class="text-3xl font-bold text-white mb-8 text-center">Choose maps</h1>
  <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <div *ngFor="let map of maps" class="relative group text-center" >
      <img [src]="map.listViewIcon || map.splash" [alt]="map.displayName" [routerLink]="['/maps-strat', map.uuid]"
        class="transform group-hover:scale-105 transition duration-300 rounded-xl shadow-xl cursor-pointer" style="height: 6em;"/>
      <a class="mt-4 inline-block text-cyan-400 hover:underline font-semibold"
        [routerLink]="['/maps-strat', map.uuid]">Discover {{ map.displayName }}</a>
    </div>
  </div>
</section>
<app-footer />