<div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
        <div>
            <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">I tuoi agenti</h2>
            <p class="mt-4 text-white">Il gioco va ben oltre i semplici scontri a fuoco: potrai scegliere un agente
                con
                abilità adattabili, rapide e letali che creano le opportunità giuste per sfoggiare la tua tecnica. Ogni
                agente è diverso, come del resto sono diverse tutte le migliori azioni del gioco.</p><br>
            <a [routerLink]="['/list-maps']" class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg">
                Scopri di più
            </a>
        </div>  
        <div class="grid gap-4 sm:gap-6 lg:gap-8">
            <img src="/assets/agenti.png"
                alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
                class="rounded-lg">
        </div>
           
    </div>
</div>