.bg-fade-cover {
    background-position: 50%;
    background-size: cover;
    border-bottom-left-radius: 10rem;
}

.cover-up {
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-gradient-home {
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.bg-card-esports{
    background-image: url('/assets/champions.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-card-lineups{
    background-image: url('/assets/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.bg-card-insights{
    background-image: url('/assets/omen-home.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover

}

.bg-gradient{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgba(0,212,255,0) 100%);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1); 
}