<app-navbar />
<div class="cover-up">
    <div class="relative h-[500px] bg-cover bg-center flex items-center justify-center bg-fade-cover"
        style="background-image: url('../assets/fade-bg.png');">
        <div class="text-center text-white bg-black bg-opacity-50 p-8 rounded-lg">
            <h1 class="text-4xl font-bold">Lorem ipsum</h1>
            <p class="mt-2 text-lg">Discover more</p>
            <a routerLink="/agents"
                class="mt-4 inline-block bg-red-500 hover:bg-red-600 px-6 py-2 rounded-lg text-white font-semibold">
                Esplora gli Agenti
            </a>
        </div>
    </div>
</div>

<section class="relative min-h-[400px] flex items-center justify-center overflow-hidden">
    <div class="absolute inset-0 z-0">
        <div class="w-full h-full bg-red-val clip-diagonal"></div>
    </div>

    <div class="relative z-10 container mx-auto grid grid-cols-1 md:grid-cols-2 text-white p-8 gap-8 items-center">
        <div class="text-left">
            <h2 class="text-5xl font-bold mb-4 text-black">PICK YOUR AGENTS</h2>
            <p class="text-lg font-semibold text-white/80">Choose your favorite and learn their abilities.</p>
        </div>

        <div class="  p-10 relative z-10">
            <app-agents-carousel />
        </div>
    </div>
</section>






<div class="container mx-auto p-8 text-white">
    <div class="grid md:grid-cols-3 gap-6 mt-6 ">
        <div class="relative rounded-lg overflow-hidden shadow-lg h-64">
            <img src="/assets/champions.png" alt="Sfondo Insights" class="w-full h-full object-cover" />
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>

            <div class="absolute bottom-0 p-6 z-10 text-white">
                <h3 class="text-2xl font-semibold">Esports</h3>

                <div *ngIf="topMatches.length > 0; else loading">
                    <div *ngFor="let match of topMatches" class="text-sm mt-2">
                        <p>
                            <span
                                [ngClass]="{'text-red-500 font-semibold': match.status === 'LIVE','text-yellow-400': match.status === 'Upcoming'}">
                                {{ match.status }}
                            </span>
                            – {{ match.team1 }} vs {{ match.team2 }}
                        </p>
                    </div>

                </div>

                <ng-template #loading>
                    <p class="text-sm text-gray-300">Caricamento match in corso...</p>
                </ng-template>

                <a routerLink="/esports" class="text-red-400 hover:text-red-500 mt-4 inline-block">Scopri di più →</a>
            </div>
        </div>




        <div class="relative rounded-lg overflow-hidden shadow-lg h-64">
            <img src="/assets/banner.png" alt="Sfondo Insights" class="w-full h-full object-cover" />

            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>

            <div class="absolute bottom-0 p-6 z-10 text-white">
                <h3 class="text-2xl font-semibold">Line-Ups</h3>
                <p class="mt-2">Impara i callout e le strategie per ogni mappa.</p>
                <a routerLink="#" class="text-red-400 hover:text-red-500 mt-2 inline-block">Scopri di più →</a>
            </div>
        </div>



        <div class="relative rounded-lg overflow-hidden shadow-lg h-64">
            <img src="/assets/omen-home.png" alt="Sfondo Insights" class="w-full h-full object-cover" />

            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>

            <div class="absolute bottom-0 p-6 z-10 text-white">
                <h3 class="text-2xl font-semibold">Insights</h3>
                <p class="mt-2">Impara i callout e le strategie per ogni mappa.</p>
                <a routerLink="#" class="text-red-400 hover:text-red-500 mt-2 inline-block">Scopri di più →</a>
            </div>
        </div>
    </div>
</div>

<section class="relative min-h-[400px] flex items-center justify-center overflow-hidden">
    <div class="absolute inset-0 z-0">
        <div class="w-full h-full bg-white-maps clip-diagonal-reverse"></div>
    </div>

    <div class="relative z-10 w-full grid grid-cols-1 md:grid-cols-2 items-center">

        <div class="order-1 md:order-2 text-center md:container p-6">
            <h2 class="text-4xl md:text-5xl font-bold mb-4 text-black">Discover Maps</h2>
            <p class="text-lg font-semibold text-black/80">Discover and learn the lineups.</p>
        </div>

        <div class="order-2 md:order-1 p-6 flex justify-center">
            <app-maps-carousel />
        </div>

    </div>
</section>
<app-footer />
<router-outlet />