<app-navbar />
<div class="cover-up">
    <div class="relative h-[500px] bg-cover bg-center flex items-center justify-center bg-fade-cover"
        style="background-image: url('../assets/fade-bg.png');">
        <div class="text-center text-white bg-black bg-opacity-50 p-8 rounded-lg">
            <h1 class="text-4xl font-bold">Lorem ipsum</h1>
            <p class="mt-2 text-lg">Discover more</p>
            <a routerLink="/agents"
                class="mt-4 inline-block bg-red-500 hover:bg-red-600 px-6 py-2 rounded-lg text-white font-semibold">
                Esplora gli Agenti
            </a>
        </div>
    </div>
</div>


<div class="bg-gradient-home pt-6">

    <div class="container mx-auto p-4 text-white">
        <h2 class="text-3xl font-bold text-center">Scopri gli Agenti e le Mappe</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
             <div class=" max-w-2xl mx-auto p-4">
                <div class="bg-gray-800 p-4 flex flex-col md:flex-row  shadow-lg rounded-2xl overflow-hidden">
                    <!-- Immagine -->
                    <img class="w-full md:w-1/3 h-48 md:h-auto object-cover" src="../assets/agents/Initiator/Sova.png"
                        alt="Image">

                    <!-- Testo -->
                    <div class="p-6 flex flex-col justify-center">
                        <h3 class="text-2xl font-semibold">Agenti</h3>
                        <p class="mt-2">Ogni agente ha abilità uniche. Trova il tuo stile di gioco perfetto.</p>
                        <a routerLink="/agents" class="text-red-400 hover:text-red-500 mt-2 inline-block">Scopri di
                            più
                            →</a>
                    </div>
                </div>
            </div>

            <div class=" max-w-2xl mx-auto p-4">
                <div class="bg-gray-800 p-4 flex flex-col md:flex-row  shadow-lg rounded-2xl overflow-hidden">
                     <img class="w-full md:w-1/3 h-48 md:h-auto object-cover" src="../assets/maps/bind.png"
                        alt="Image">

                     <div class="p-6 flex flex-col justify-center">
                        <h3 class="text-2xl font-semibold">Mappe</h3>
                        <p class="mt-2">Impara i callout e le strategie per ogni mappa.</p>
                        <a routerLink="/maps" class="text-red-400 hover:text-red-500 mt-2 inline-block">Scopri di più
                            →</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container mx-auto p-4 text-white">

    <div class="grid md:grid-cols-3 gap-6 mt-6 ">
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg bg-card-esports">
            <!-- <img src="../assets/agenti.png" alt=""> -->
            <h3 class="text-2xl font-semibold">Esports</h3>
            <p class="mt-2">Ogni agente ha abilità uniche. Trova il tuo stile di gioco perfetto.</p>
            <a routerLink="/agents" class="text-red-400 hover:text-red-500 mt-2 inline-block">Scopri di più →</a>
        </div>

        <div class="bg-gray-800 p-6 rounded-lg shadow-lg bg-card-lineups">
            <h3 class="text-2xl font-semibold">Line-Ups</h3>
            <p class="mt-2">Impara i callout e le strategie per ogni mappa.</p>
            <a routerLink="/maps" class="text-red-400 hover:text-red-500 mt-2 inline-block">Scopri di più →</a>
        </div>

        <div class="bg-gray-800 p-6 rounded-lg shadow-lg bg-card-insights">
            <h3 class="text-2xl font-semibold">Insights</h3>
            <p class="mt-2">Impara i callout e le strategie per ogni mappa.</p>
            <a routerLink="/maps" class="text-red-400 hover:text-red-500 mt-2 inline-block">Scopri di più →</a>
        </div>
    </div>
</div>

<app-footer />





<router-outlet />