@media (max-width: 768px) {
  .bg-agents-mobile {
    background-position: 83%;
  }

}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .section-hero {
  transition: background-image 0.6s ease-in-out, opacity 0.4s ease-in-out;
} */